:root{
    --font-1: 'Arial', sans-serif;

    --ctr-width: 1180px;
    --ctr-margin: 20px;

    --gap: 20px;

    --header-height: 30px;

    --color-text: #1D1D1B;
    --color-gray-light: #f0f0f1;
    --color-gray: #ccc;
    --color-gray-dark: #1d2327;

    --color-1: #2271b1;
    --color-2: #3F3B8F;
    --color-3: #0089AB;
    --color-4: #77C7C8;

    --font-size-sm: .875rem;
    --font-size: .875rem;
    --font-size-md: 1.125rem;
    --font-size-xmd: 1rem;
    --font-size-lg: 1.5rem;

    --margin-sm: 30px;
    --margin: 60px;
    --margin-md: 40px;
    --margin-lg: 40px;
}