[data-view=card-article] {
	background: #fff;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	overflow: hidden;

	a{
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	picture{
		overflow: hidden;
	}
	img{
		width: 100%;
		height: auto;
		transition: transform 1s ease;
	}
	.content{
		padding: 30px 30px 20px 30px;
		display: flex;
		flex-direction: column;
		
		position: relative;
		flex: 1;

		
		&:before{
			content: "";
			display: block;
			height: 10px;
			background: linear-gradient(90deg, var(--color-4), var(--color-1));
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
	.cat{
		text-transform: uppercase;
		font-size: 1rem;
		font-family: var(--font-2);
		margin-bottom: 10px;
	}
	h3{
		font-family: var(--font-2);
		font-size: 1.5rem;
		font-weight: 700;
		color: var(--color-3);
		//min-height: 48px;
	}
	p{
		margin-top: 40px;
		flex: 0 1 115px;
	
		font-size: 1rem;
		line-height: 1.25;
		flex: 0;
	}

	&.tpl-prise-de-parole{
		.content{
			&:before{
				background: linear-gradient(90deg, var(--color-5), var(--color-6));
			}
		}
		h3{
			color: var(--color-1);
		}
	}

	&:hover{
		img{
			transform: scale(1.05);
		}
	}
}