/* ConduitITCPro */
@font-face {
    font-family: 'ConduitITCPro';
    src: url(fonts/ConduitITCPro-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ConduitITCPro';
    src: url(fonts/ConduitITCPro-LightItalic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'ConduitITCPro';
    src: url(fonts/ConduitITCStd-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ConduitITCPro';
    src: url(fonts/ConduitITCPro-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Aeonik */
@font-face {
    font-family: 'Aeonik';
    src: url(fonts/aeonik-light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aeonik';
    src: url(fonts/aeonik-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aeonik';
    src: url(fonts/aeonik-medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Aeonik';
    src: url(fonts/aeonik-bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}