@import url(../../modules/slider/slider.css);
@import url(../../modules/gridMasonry/gridMasonry.css);

[data-view=highlights]{
    .card-highlight{
        opacity: 0;
    }
    @media (--breakpoint-lg-down) {
        header {
            display: flex;
            margin-bottom: 30px;
        }
        h2{
            font-size: 58px;
            font-family: var(--font-2);
            font-weight: 800;
            text-transform: uppercase;
            background: linear-gradient(90deg, var(--color-9) 0%, var(--color-8) 80%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            line-height: 0.9;
        }
        .slider-control {
            margin-left: auto;
            align-self: flex-end;
        }
        .container{
            background: none!important;
        }
    }
    @media (--breakpoint-lg-up) {

        header{
            display: none;
        }
        .container {
            background-repeat: no-repeat;
            background-position: center 0;
            background-size: 90% auto;
        }
        .highlights {
            display: grid;
            grid-column-gap: 17%;
            grid-template-columns: 1fr 1fr 1fr;
            height: 0;
            overflow: hidden;
        }
        .card-highlight{
            margin-bottom: 70px;
        }
        
    }
}
