@import url(../../modules/slider/slider.css);

[data-view=issues]{
    padding-top: var(--margin-lg);
    padding-bottom: var(--margin-lg);
    background: linear-gradient(to bottom,var(--color-2) 0%,var(--color-2) 65%,rgba(0, 0, 0, 0) 65%,rgba(0, 0, 0, 0) 100%);

    header {
        display: flex;
        margin-bottom: 30px;
    }
    h2 {
        color: #fff;
    }
    .slider-control {
        margin-left: auto;
        align-self: flex-end;
    }
    .card-article{
        opacity: 0;
    }
    @media (--breakpoint-lg-up) {
        header {
            margin-bottom: 60px;
        }
    }
}
